name: tests
on: push

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v1
        with:
          submodules: recursive
      - name: Run pimod OpenWRT example
        uses: jonashoechst/pimod@HEAD
        with:
          pifile: examples/RPi-OpenWRT.Pifile
